[Unit]
Description=Das's distributed currency daemon
After=network.target

[Service]
User=das
Group=das

Type=forking
PIDFile=/var/lib/dasd/dasd.pid
ExecStart=/usr/bin/dasd -daemon -pid=/var/lib/dasd/dasd.pid \
-conf=/etc/das/das.conf -datadir=/var/lib/dasd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
